*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Oswald', sans-serif;
    font-display: swap;
    /*Clean energy*/
    --pal1: #ffffff;
    --pal2: #eeeeee;
    --pal3: #00adb5;
    --pal4: #393e46;
    --pal5: #222831;
    --pal6: #98d8db;
    --palBox: linear-gradient(90deg, var(--pal4)15%, var(--pal5) 85%);

    background: var(--pal4);
    color: white;
}

h1{
    font-size: 12vh;
    padding-top: 10vh;
    letter-spacing: 2px;
    color: var(--pal3);
}

h2{
    font-size: 5vh;
    color: var(--pal1);
}

h3{
    font-size: 4vh;
    color: var(--pal1);
    padding-top: 4vh;
}

h4{
    font-size: 3vh;
    color: var(--pal2);
}

p{
font-size: 2.5vh;
color: var(--pal2);
}

/*Navigation bar*/

nav{
    height: 100vh;
    width: 25%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    background: linear-gradient(90deg, var(--pal4)15%, var(--pal5) 85%);
    box-shadow: 0px 0px 10px black;
    z-index: 1;
}

.burger{
    display: none;
}

.burger div{
    width: 30px;
    height: 3px;
    background: var(--pal3);
    margin: 5px;
    transition: all 0.3s ease;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sigla{
    width: 10vw;
}

.logo a{
    text-decoration: none;
    color: var(--pal2);
    letter-spacing: 1px;
    font-size: 2vw;
    font-weight: normal;
}

.logo span{
    font-weight: bolder;
    color: var(--pal3);
}

.links{
    height: 50%;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.links a{
    text-decoration: none;
    color: inherit;
    font-size: 1.5vw;
    font-weight: lighter;
}

.links a:hover {
    font-weight: bolder;
    letter-spacing: 1px;
    color: var(--pal6);
}

/*Header*/

.header{
    position: fixed;
    width: 75%;
    height: 100vh;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/nicehex.jpg);
    background-size: auto 90vh;
    background-repeat: no-repeat;
    background-position: center top;
    z-index: -1;    
}

.headerContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 5vh;    
}

.picFrame{
    height: 25vw;
    width: 25vw;
    overflow: hidden;
    border-radius: 50%;
}

.picFrame img{
    width: 25vw;
    margin-top: -8vh;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.title h1{
    padding-top: 0vh;
    letter-spacing: 0vh;
}

.title h2{
    color: var(--pal3);
}

/*Middle*/

.middle{
    width: 75%;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 89.9vh;
    background-image: url(images/swirlInv.png);
    background-size: 300px;
    background-position: right;
    background-repeat: repeat;
    overflow-x: hidden;
    box-shadow: 0px 0px 10px black;
}

/*About*/

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8vh 8vh 0vh 8vh;
}

.aboutContainer{
    text-align: justify;
    padding: 3vh;
    background: var(--palBox);
}

.aboutContainer h2{
    text-align: center;
    padding-bottom: 3vh;
}

/*Education*/

.education{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.educationContainer{
    display: flex;
    padding: 8vh 8vh 0vh 8vh;
}

.educationSectionSx{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 3vh;
    background: var(--palBox);
}

.educationSectionDx{
    width: 67%;
    text-align: justify;
    padding: 3vh;
    background: var(--pal5);
}

/*Experience*/

.experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.experienceContainer{
    display: flex;
    padding: 8vh 8vh 0vh 8vh;
}

.experienceSectionSx{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 3vh;
    background: var(--palBox);
}

.experienceSectionSx a{
    text-decoration: none;
    color: inherit;
}

.experienceSectionDx{
    width: 67%;
    text-align: justify;
    padding: 3vh;
    background: var(--pal5);
}

/*Achievements*/

.achievements{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0vh 0vh 0vh 8vh;
}

/*Skills*/

.skills{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0vh 8vh;
}

.skillContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8vh 0vh 0vh;
}

.skillSection{
    width: 30%;
    padding: 3vh;
    background: var(--palBox);
}

.skillSection h3{
    text-align: center;
    padding-bottom: 3vh;
}

.skillSection p{
    float: right;
}

.skillBar{
    display: block;
    background: var(--pal2);
    height: 8px;
    overflow: hidden;
    margin-bottom: 5%;
}

.skillProgress{
    height: 100%;
    float: left;
    background: var(--pal3);
}

#skillNine{
    width: 90%;
}

#skillEight{
    width: 80%;
}

#skillSeven{
    width: 70% 
}

#skillSix{
    width: 60%;
}

#skillFive{
    width: 50%;
}

/*Project*/

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.projectContainer{
    display: flex;
    flex-direction: column;
    padding: 8vh 8vh 0vh 8vh;
}

.projectSectionSx{
    padding: 3vh;
    text-align: justify;
    background: var(--palBox);
}

.projectSectionSx h2{
    text-align: center;
    padding-bottom: 3vh;
}

.projectSectionDx{
    position: relative;
}

.projectsPics{
    width: 100%;
}

.projectPrev, .projectNext{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 3%;
    margin-top: -3%;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    color: var(--pal3);
}

.projectNext{
    right: 0%;
}
  
.projectPrev:hover, .projectNext:hover{
    background: rgba(152, 216, 219, 0.3);
}

.projectDots{
    position: absolute;
    width: 100%;
    bottom: 0%;
    margin-bottom: 1vh;
    text-align: center;
}

.projectDot1, .projectDot2{
    cursor: pointer;
    height: 5px;
    width: 8%;
    margin: 0% 0.5%;
    background: var(--pal6);
    display: inline-block;
    transition: background 0.6s ease;
}

.active{
    background: var(--pal3);
}

.projectDot1:hover, .projectDot2:hover{
    background: var(--pal3);   
}

/*Passions*/

.passions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0vh 0vh 0vh 8vh;
}

.passionContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.passionSection{
    width: 28vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 8vh 8vh 0vh 0vh;
    padding: 3vh;
    background: var(--palBox);
}

.passionSection i{
    position: absolute;
    font-size: 20vh;
    color: rgba(255,255,255,0.2);
}

.passionSection h4{
    color: white;
    z-index: 1;
}

.passionSection a{
    text-decoration: none;
    color: inherit;
}

/*Contact*/

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.contactLid{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    overflow: hidden;
}

.contactContainer{
    text-align: center;
    margin: 8vh;
    padding: 3vh;
    background: var(--palBox);
}

.contactContainer h2{
    padding-bottom: 3vh;
}

.contactSection{
    display: flex;
    align-items: flex-start;
}

.contactSectionSx{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 3vh;
}

.contactSectionSx h3{
    line-height: 6vh;
}

.contactSectionSx a{
    text-decoration: none;
    color: inherit;
}

.razzoContainer{
    display: flex;
    align-items: baseline;
}

.razzoDiego{
    height: 70vh;
}

/*Footer*/

footer{
    width: 75%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    background: var(--pal5);
}

/*Screen width changes*/

@media screen and (max-width: 1115px){
    .contactLid{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .skillContainer{
        flex-direction: column;
        padding: 0vh;
    }

    .skillSection{
        width: 100%;
        margin: 8vh 0vh 0vh;
    }
}

@media screen and (max-width: 960px){
    .headerContainer{
        flex-direction: column;
        align-items: center;
    }

    .links a{
        font-size: 1.8vw;
    }

    .picFrame{
        height: 30vw;
        width: 30vw;
        overflow: hidden;
        border-radius: 50%;
    }
    
    .picFrame img{
        width: 30vw;
        margin-top: -5vw;
    }
}

@media screen and (max-width: 680px){
    h1{
        font-size: 12vw;
    }
    
    h2{
        font-size: 5vw;
    }
    
    h3{
        font-size: 4vw;
    }
    
    h4{
        font-size: 3vw;
    }
    
    p{
    font-size: 2.5vw;
    }

    nav{
        height: 10vh;
        width: 100%;
        flex-direction: row;
        background: var(--palBox);
    }

    .logo{
        flex-direction: row-reverse;
    }

    .logo a{
        margin-right: 2vw;
        font-size: 3vw;
    }

    .burger{
        display: block;
        cursor: pointer;
    }

    .links{
        position: absolute;
        width: 100%;
        height: 90vh;
        top: 10vh;
        transform: translateX(-100%) ;
        transition: transform 0.5s ease-in;
        background: var(--palBox);
    }    

    .links a{
        font-size: 4vh;
    }

    .nav-active{
        transform: translateX(0%);
    }
    
    .cross .line1{
        transform: rotate(-45deg) translate(-5px,6px);
    }
    
    .cross .line2{
        opacity: 0%;
        transition: all 0s;
    }
    
    .cross .line3{
        transform: rotate(45deg) translate(-5px,-6px);
    }
    
    .middle, footer{
        width: 100%;
    }

    .header{
        margin: 6vh 0vh 0vh;
        width: 100%;
    }

    .educationContainer, .experienceContainer{
        flex-direction: column;
    }
    
    .educationSectionSx, .educationSectionDx, .experienceSectionSx, .experienceSectionDx{
        width: auto;
        background: var(--palBox);
    }

    .contactSection{
        flex-direction: column;
    }

    .passions, .achievements{
        padding: 0%;
    }

    .passionContainer{
        flex-direction: column;
        align-items: center;
        padding: 0vh 8vh;
    }

    .passionSection{
        padding: 2vh 3vh;
        margin: 2vh 0vh;
    }

    .passionContainer h4{
        text-align: center;
    }

    .educationSectionDx i, .experienceSectionDx i{
        font-size: 3vw;
    }

}

@media screen and (max-width: 600px){
    .passionSection{
        width: 100%;
        text-align: justify;
    }

    .passionSection i{
        font-size: 10vw;
    }
}

/*Loading screen*/

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/swirlInv.png);
    background-color: var(--pal5);
    background-size: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

.loaderBars {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: var(--pal3);
    border-right-color: var(--pal3);
    -webkit-animation: spin 2s linear infinite; animation: spin 2s linear infinite;
}
    
.loaderBars:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: var(--pal6);
    border-right-color: var(--pal6);
    -webkit-animation: spin 3s linear infinite; animation: spin 3s linear infinite; 
}
    
.loaderBars:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: var(--pal2);
    border-right-color: var(--pal2);
    -webkit-animation: spin 1.5s linear infinite; animation: spin 1.5s linear infinite;
}
    
@-webkit-keyframes spin {
    0% {
    -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg);
    }
    100% {
    -webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
    -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg);
    }
    100% {
    -webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg);
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
